<div class="container" style="min-height: 600px" *ngIf="!isLoggedIn">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="h5 card-title text-center text-info">Đăng nhập</h5>
          <form class="form-signin" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                novalidate>
            <div class="form-group">
              <label>Tên đăng nhập:</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
              />
              <small *ngIf="f.submitted && username.invalid" class="text-danger">Tên đăng nhập không đúng.</small>
            </div>

            <div class="form-group">
              <label>Mật khẩu:</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="form.password"
                     #password="ngModel"
              />
            </div>
            <div class="row mb-3">
              <div class="col-md-6 text-left">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Nhớ mật khẩu
                  </label>
                </div>
              </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng nhập</button>
          </form>
          <div class="form-signin">
            <div class="or-container">
              <div class="line-separator"></div>
              <div class="or-label">hoặc đăng nhập bằng</div>
              <div class="line-separator"></div>
            </div>
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"
                    *ngIf="(afAuth.authState | async) === null" (click)="signInWithGoogle()"><i
              class="fab fa-google mr-2 action-button"></i> Đăng nhập bằng Google
            </button>
<!--            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i-->
<!--              class="fab fa-facebook-f mr-2"></i> Đăng nhập bằng Facebook-->
<!--            </button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
