<footer class="footer mt-5">
  <div class="container-fluid bottom_border">
    <div class="row">
      <div class="col-sm-2">
        <a class="navbar-brand" href="#">
          <a href="#" class="navbar-brand"> <img src="assets/images/logo5.png" class="d-inline-block align-top"
                                                 alt="logo">
          </a>
        </a>
      </div>
      <div class=" col-sm-3 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">LIÊN LẠC VỚI CHÚNG TÔI</h5>
        <p class="mb10">Đà Nẵng: Tầng 10, 295 Nguyễn Tất Thành, Phường Thanh Bình, Quận Hải Châu, TP Đà Nẵng.
          KhoaTM Dev </p>
        <p><i class="fa fa-phone"></i> 02462538829 </p>
        <p><i class="fa fa fa-envelope"></i> info@codegym.vn </p>

      </div>
      <div class=" col-sm-3 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">LINK</h5>
        <ul class="footer_ul_amrc">
          <li><a href="#">Tại sao chọn chúng tôi?</a></li>
          <li><a href="#">Báo chí</a></li>
          <li><a href="#">Tư vấn đặt phòng</a></li>
          <li><a href="#">Học viên CodeGym</a></li>
          <li><a href="#">Blog CodeGym</a></li>
          <li><a href="#">Blog Học viên</a></li>
          <li><a href="#">CodeGym Bob</a></li>
        </ul>
      </div>


      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">CỘNG ĐỒNG</h5>
        <ul class="footer_ul_amrc">
          <li><a href="#">Cộng đồng lập trình THPT</a></li>
          <li><a href="#">Nhóm Học lập trình</a></li>
          <li><a href="#">CLB Coding Dojo</a></li>
          <li><a href="#">CodeGym Huế</a></li>
          <li><a href="#">CodeGym Đà Nẵng</a></li>
          <li><a href="#">CodeGym Hà Nội</a></li>
          <li><a href="#">CodeGym Quảng Trị</a></li>
        </ul>
      </div>


      <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">THEO DÕI</h5>
        <ul class="footer_ul2_amrc">
          <li><a href="#"><i class="fab fa-facebook fleft padding-right text-primary"></i></a>
            <p>Facebook<a href="#"> facebook.com/codegym</a>
            </p></li>
          <li><a href="#"><i class="fab fa-youtube fleft padding-right text-danger"></i></a>
            <p>Youtube<a href="#"> youtube.com/codegym</a>
            </p></li>
          <li><a href="#"><i class="fab fa-twitter fleft padding-right text-primary"></i></a>
            <p>Twitter<a href="#"> twitter.com/codegym</a>
            </p></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="foote_bottom_ul_amrc">
      <li><a href="#">Home</a></li>
      <li><a href="#">Quản lý phòng họp</a></li>
      <li><a href="#">Quản lý tài sản</a></li>
      <li><a href="#">Quản lý người dùng</a></li>
      <li><a href="#">Thống kê</a></li>
      <li><a href="#">Phản hồi</a></li>
    </ul>
    <p class="text-center">Copyright @2022 | Thiết kế bởi <a href="#"><span
      class="text-white">KhoaTM Dev</span></a></p>

    <ul class="social_footer_ul">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-google"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
</footer>
