<main>
  <div class="container-fluid w-75" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <h5 class="text-center mt-3">ĐỘI NGŨ CODEGYM ĐÀ NẴNG</h5>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/levunguyen.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Lê Vũ Nguyên</h5>
                <p class="et_pb_member_position">Giám đốc</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/tranthitotam.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Trần Thị Tố Tâm</h5>
                <p class="et_pb_member_position">Giám đốc Trung Tâm</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/doanphuoctrung.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Đoàn Phước Trung</h5>
                <p class="et_pb_member_position">Giám đốc Đào tạo</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/hodieuhien.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Hồ Diệu Hiền</h5>
                <p class="et_pb_member_position">Trưởng phòng TVTS</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/huynhthikimngoc.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Huỳnh Thị Kim Ngọc</h5>
                <p class="et_pb_member_position">Tư vấn tuyển sinh</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/nguyenthithuha.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Nguyễn Thị Thu Hà</h5>
                <p class="et_pb_member_position">Giáo vụ</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/truongtanhai.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Trương Tấn Hải</h5>
                <p class="et_pb_member_position">Giảng viên</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/nguyenvuthanhtien.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Nguyễn Vũ Thành Tiến</h5>
                <p class="et_pb_member_position">Giảng viên</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/tranvanchanh.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Trần Văn Chánh</h5>
                <p class="et_pb_member_position">Tutor</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/dangchitrung.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Đặng Chí Trung</h5>
                <p class="et_pb_member_position">Instructor</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/doanngoclinh.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Đoàn Ngọc Lĩnh</h5>
                <p class="et_pb_member_position">Tutor</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/nguyenmaihuyenlinh.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Nguyễn Mai Huyền Linh</h5>
                <p class="et_pb_member_position">Tư vấn tuyển sinh</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/tranminhchien.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Trần Minh Chiến</h5>
                <p class="et_pb_member_position">Tutor</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/tranthitrong.jpg" class="d-block w-100 img-height" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Trần Thị Trọng</h5>
                <p class="et_pb_member_position">Direct Sales</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <p class="text-center">CODEGYM – HỆ THỐNG ĐÀO TẠO LẬP TRÌNH HIỆN ĐẠI</p>
        <h3>Để biết thêm về Codegym </h3>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="https://danang.codegym.vn/"><i class="fas fa-hand-point-right"></i> Codegym Đà
              Nẵng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://danang.codegym.vn/khoa-hoc-lap-trinh-java-cho-nguoi-moi-bat-dau/"><i
              class="fas fa-hand-point-right"></i> Khóa học cho người mới bắt đầu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://danang.codegym.vn/khoa-hoc-danh-cho-nguoi-da-biet-lap-trinh/"><i
              class="fas fa-hand-point-right"></i> Khóa học cho người đã biết về lập trình</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h5 class="text-center mt-3">CODEGYM ĐÀ NẴNG</h5>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/codegym-danang.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/images/codegym2.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/images/codegym3.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/images/codegym4.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <br>
        <h4 class="text-center">THỜI GIAN HỌC NGẮN</h4>
        <p>Chỉ cần đầu tư nửa năm để bắt đầu một sự nghiệp mới.</p>
        <p>Nhờ áp dụng mô hình học tập mới, học viên của CodeGym dồn toàn bộ nỗ lực vào trong một khoảng thời gian ngắn,
          do đó rất nhanh chóng nâng cao được năng lực, sớm hoàn thành chương trình học tập và tham gia vào thị trường
          việc làm. Thay vì mất từ 2 – 5 năm như ở các mô hình truyền thống, mô hình Coding Bootcamp cho phép học viên
          nhanh chóng vững tay nghề chỉ trong thời gian ngắn chưa đến nửa năm.</p>
        <br>
        <h2 class="text-center">THAM KHẢO CÁC KHÓA HỌC CỦA CODEGYM</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 12rem;">
              <img src="assets/images/java.png" class="card-img-top" alt="java.img">
              <a class="text-center" href="https://codegym.vn/khoa-hoc-java/">Khóa học java</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 12rem;">
              <img src="assets/images/php.png" class="card-img-top" alt="php.img">
              <a class="text-center" href="https://codegym.vn/khoa-hoc-php/">Khóa học PHP</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 12rem;">
              <img src="assets/images/dotnet.png" class="card-img-top" alt="dot-net.img">
              <a class="text-center" href="https://codegym.vn/khoa-hoc-net/">Khóa học .NET</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
