<a
  href="http://localhost:4200/dat-phong-hop/man-hinh"
  target="_blank">
  <header class="top-header">
  </header>

  <!--dust particel-->
  <div>
    <div class="starsec"></div>
    <div class="starthird"></div>
    <div class="starfourth"></div>
    <div class="starfifth"></div>
  </div>
  <!--Dust particle end--->


  <div class="lamp__wrap">
    <div class="lamp">
      <div class="cable"></div>
      <div class="cover"></div>
      <div class="in-cover">
        <div class="bulb"></div>
      </div>
      <div class="light"></div>
    </div>
  </div>
  <!-- END Lamp -->
  <section class="error">
    <!-- Content -->
    <div class="error__content">
      <div class="error__message message">
        <div class="mainbox">
          <div class="err">4</div>
          <i class="far fa-question-circle fa-spin"></i>
          <div class="err2">4</div>
          <div class="msg">Trang bạn yêu cầu không tồn tại <br>
            <a routerLink="/dat-phong-hop/man-hinh" class="btn text-info"><span>Quay lại </span>trang chủ</a></div>
        </div>
      </div>
    </div>
    <!-- END Content -->

  </section>

</a>
